/* You can add global styles to this file, and also import other style files */
.active{
    color: blue;
}
button.selected{
    background-color: rgb(122, 122, 252);
    color: white;
    border: none;
}